body{    
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}
p{
    line-height: 2;
}
.container{
    padding-top: 100px  ;
    background-color: rgb(211, 230, 233);
    position: relative;    
}
span{
    color: #3cb0fd;
    font-family: 'Sacramento', cursive;
    font-size: xx-large;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.265rem;
    margin: 50px auto 0 auto;
    color: #66bfbf;
    line-height: 2;    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf; 
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    font-weight: bolder;
}
h4{
    font-family: 'Montserrat', sans-serif;
}

.up{
    position: absolute;
    right: 20%;
}
.down{
    position: absolute;
    left: 20%;
}
.skill-row{
    width: 50%;
   margin: 0 auto 0 auto;
   margin-top: 100px;
   margin-bottom: 100px;
   text-align: left;
   
}
.Web{
    width:25% ;
    float: left;
    margin: 30px;
}
.chillie{
    width: 25%;
    float: right;
}
.skills{
    margin-top: 100px;
    padding-bottom: 20px;
    
}
hr{
    margin-top: 100px;
    width: 2% ;
    background-color: white;
    border-bottom: none;
    color: #d7dcc3;
    border:dashed;
    }
.two{
    margin-top: 10px;
    margin-bottom: 80px;
}
.btn a{
    color: white;
    text-decoration: none;

}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .contact-me{
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 30px;
    
  }
  .bottom-container{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #006666;
    word-spacing:50px;
  }
  a{
    text-decoration: none;
    color: #aed3d4;
   
  }
  .yadh{
    padding-top: 50px;
  }
  .surname{
    font-size: small;

  }
